$mobile-width: 350px;
$large-mobile-width: 840px;

@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$large-mobile-width}) {
    @content;
  }
}

.wrapper {
  width: 800px;
  background-color: white;
  @include horizontal-center;
  border: 15px solid rgb(0, 49, 92);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: relative;
  top: 50px;
  z-index: 1;

  .wrapper-inner {
    width: 96%;
    height: 98%;
    border: 2px solid rgb(0, 49, 92);
    position: relative;
    @include center;
    display: flex;
    flex-direction: column;
    background-image: url('/images/backgrounds/light-1.jpeg');
  }
}

@include mobile {
  .wrapper {
    width: 90%;
    height: 1000px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }  
}