{{ if .Site.Params.membershipsfaq.enable }}
<div class="gallery-box">
  <div class="gallery">
    <img src="/images/covers/wr-frontpage-cover@5x.png" loading="lazy" alt="Author">
  </div>
  <em>Photo of <b>White Rock Lake</b></em>
</div>

<h1>Becoming a member</h1>
<p style="">Joining The Whiterocker is your gateway to exclusive benefits and a vibrant community. Our membership process is designed to ensure that each member is a perfect fit for our club's values and culture.</p>

<li style="padding-bottom: 10px">Application Process: To apply for membership, please contact our membership team at memberships@thewhiterocker.com. We will guide you through the apppcation process and answer any questions you may have.</li>
<li style="padding-bottom: 10px">Trial Membership: Upon contacting us, you may be offered a comppmentary one-week membership. This trial period allows you to experience all the benefits and amenities our club has to offer, helping you decide if The Whiterocker is the right place for you.</li>
<li style="padding-bottom: 10px">Special Considerations: Local Dallas law enforcement and first responder officials/members are entitled to a substantial discount on membership fees and are placed on a prioritized waitpst. We value the dedication and service of these professionals and are proud to extend this special offer.</li>


<h1 style="padding-top: 50px;">Member Benefits</h1>
<p style="">As a member of The Whiterocker, you will enjoy a range of exclusive benefits designed to enhance your pfestyle and provide unparalleled convenience.</p>

<li style="padding-bottom: 10px">24-Hour Access: Enjoy round-the-clock access to our luxurious clubhouse, ensuring you can take advantage of our facipties at any time that suits you.</li>
<li style="padding-bottom: 10px">Gaming Room Rental: Members have the privilege to rent out our state-of-the-art gaming room for private use. Whether for a casual gathering or a competitive gaming session, the space can be tailored to your needs. For hosting private events, please contact our management team at management@thewhiterocker.com.</li>
<li style="padding-bottom: 10px">Complimentary Café Treats: Indulge in unlimited free drinks and pastries from The Whiterocker Café. Our café offers a delightful selection of beverages and baked goods, perfect for a quick snack or a leisurely break</li>
<li style="padding-bottom: 10px">Networking Opportunities: Connect with a diverse group of professionals and pke-minded individuals. Our clubhouse is a hub for sociapzing and networking, providing you with valuable connections and friendships.</li>
<li style="padding-bottom: 10px">Exclusive Events: Attend exclusive member-only events, including social gatherings, workshops, and special interest groups. These events are designed to enrich your experience and offer opportunities for personal and professional growth.</li>
<li style="padding-bottom: 10px">Private Lounges: Access our private lounge areas, designed for relaxation and quiet contemplation. These spaces offer a serene environment where you can unwind, work, or meet with fellow members.</li>

<h1 style="padding-top: 50px;">Member Benefits</h1>
<p style="">For more information about membership options, benefits, and the application process, please do not hesitate to reach out to our membership team at memberships@thewhiterocker.com. We look forward to welcoming you to The Whiterocker community.</li>
<!-- begin section faq -->
<section class="section section-faq animate" style="padding-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="section__info section__info__center">
          <div class="section__head">
            {{ if .Site.Params.membershipsfaq.faq_intro }}
            <span class="section__intro">{{ .Site.Params.faq.faq_intro }}</span>
            {{ end }}
            {{ if .Site.Params.membershipsfaq.faq_title }}
            <h2 class="section__title">{{ .Site.Params.faq.faq_title }}</h2>
            {{ end }}
          </div>
        </div>

        <div class="faq">
          {{ with .Site.Params.membershipsfaq_item }}
            {{ range . }}
            <div class="faq__item" tabindex="0" data-name="closed">
              <h3 class="faq__title">{{ .title }}<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none"><path fill="var(--heading-font-color)" d="M8.654 1.168a1.153 1.153 0 1 0-2.308 0V6.36H1.154a1.153 1.153 0 1 0 0 2.308h5.192v5.192a1.153 1.153 0 1 0 2.308 0V8.668h5.192c.638 0 1.154-.516 1.154-1.154 0-.639-.516-1.154-1.154-1.154H8.654V1.168Z"/></svg></h3>
              <div class="faq__description">
                <p>{{ .description }}</li>
              </div>
            </div>
            {{ end }}
          {{ end }}
        </div>
        

      </div>
    </div>
  </div>
</section>
<!-- end section faq -->
{{ end }}