{{ if .Site.Params.author_section.enable }}
<!-- begin author -->
<div class="author-container" style="padding-bottom: 5rem;">
  <div class="scrollAnim anim">
    <div class="content" style="justify-content: center;">
      <div class="logo" style="justify-items: center; padding-bottom: 20px;">
        <a class="logo__link" href="{{ .Site.BaseURL }}">
          {{ if or (.Site.Params.logo) (.Site.Params.logo_dark) }}
          <img class="logo__image" src="{{ .Site.BaseURL }}{{ .Site.Params.landing }}" alt="{{ .Site.Title }}">
          <img class="logo__image__dark" src="{{ .Site.BaseURL }}{{ .Site.Params.landing_dark }}" alt="{{ .Site.Title }}">
          {{ else }}
            {{ .Site.Title }}
          {{ end }}
        </a>
      </div>      
      <h1 class="anim-left">Savor the Flavors. Create the Connections.</h1>
      <h3 class="anim-left" style="margin-top: 5px;">Our mission is to foster the spirit of community in Dallas and beyond.</h3>
      <a href="/contact" class="button button--big">Contact Us</a>
    </div>
  </div>
</div>

<script>
  window.addEventListener('scroll', () => {
    let page = this;
    let pageTop = this.scrollY;
    let pageHeight = this.outerHeight / 2;

    let frames = document.querySelectorAll('.scrollAnim');
    frames.forEach(frame => {
      let frameTop = frame.offsetTop;
      let frameHeight = frame.offsetHeight;

      if (pageTop >= frameTop - pageHeight &&
        pageTop < frameTop + frameHeight / 1) {
        frame.classList.add('anim');
      } else {
        frame.classList.remove('anim');
      }
    });
  });
</script>
<!-- end author -->
{{ end }}